<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>C5595B2F-18C4-4F84-B302-FF13B1716CD3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97775942-896A-4003-A93D-B140F5DEEF55</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>743B5E26-8ECD-49F3-82B8-0280E52266E7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>(un)favorite currency</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Piotr Wilczyński</string>
	<key>description</key>
	<string>Currency converter that works offline</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Convert Currency</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>query = """{query}"""
currency = query.split(" ")[1].upper()
import fileslist
if currency in fileslist.to_list():
	fileslist.remove(currency)
else:
	fileslist.add(currency)</string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>743B5E26-8ECD-49F3-82B8-0280E52266E7</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cc</string>
				<key>script</key>
				<string>import convertcurrency
print convertcurrency.xml("""{query}""")</string>
				<key>title</key>
				<string>Convert currency</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C5595B2F-18C4-4F84-B302-FF13B1716CD3</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>97775942-896A-4003-A93D-B140F5DEEF55</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>743B5E26-8ECD-49F3-82B8-0280E52266E7</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>97775942-896A-4003-A93D-B140F5DEEF55</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>C5595B2F-18C4-4F84-B302-FF13B1716CD3</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
