<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>A2SLMjEwNzg1NWUwYWU3IELqUOOztdSzKR6VCS2SntMDJHiw5/NkccH8o3qyLnuMpDg1PdRcSekfvTe4ui59drwqOpijLxt+pCeagCzuot8AXObIhYxpRj1Y6j9+8AZWx2z1ofWMbAzOuTmjQwUfMzXudigOw/jb1q2qcxe8TEpvZIGpSc/tujDR1YcZi3yGnG6CZNjv</string>
	<key>email</key>
	<string>nileskel@gmail.com</string>
</dict>
</plist>
